{% extends template('page-layout-main') %}

{% define data = {
    products: _view.products,
    attributes: _view.attributes,
    title: 'compare.compare-page' | trans
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'compare.compare-page' | trans,
                url: url('product-compare')
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="text-right">
        {% widget 'ClearProductCompareListWidget' %}{% endwidget %}
    </div>

    {% include '@ProductCompare/_partials/product-compare.twig' with {
        data: data
    } %}
{% endblock %}
